.overlay-container {
  position: relative;
  width: 1397px;
  height: 387px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.vine-main {
  margin-top: 5px;
  z-index: 3;
}

.leaves {
  z-index: 2;
  width: 1200px;
  margin-left: 100px;
  margin-top: 15px;
}

.vine-stage-2 {
  z-index: 1;
  width: 300px;
  margin-left: 475px;
  margin-top: 75px;
}

.foreground-image.skull {
  margin-left: 560px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
