.overlay-container {
  position: relative;
  width: 1397px;
  height: 387px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.vine-main {
  z-index: 3;
}

.leaves {
  z-index: 2;
}

.vine-stage-2 {
  z-index: 1;
}

.foreground-image.skull {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
